<%= form_with(model: user ,url: custom_send_to)do |form| %>
  <% if user.errors.any? %>
    <div >
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div>
        <%= form.label :email %>
        <%= form.text_field :email %>
    </div>
    <div>
        <%= form.label :password %>
        <%= form.password_field :password %>
    </div>
    <%= form.submit class: 'btn btn-success' %>
<%end%>